.login-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forsen {
  position: relative;
  width: 274px;
  height: 300px;
  font-family: monospace;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}

.forsen-left,
.forsen-right {
  width: 50%;
  height: 100%;
  transition: transform 1.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: absolute;
  top: 0;
}

.forsen-left {
  left: 0;
  transform: translateX(0);
}

.forsen-right {
  right: 0;
  transform: translateX(0);
}

.forsen.open {
  cursor: default;
}

.forsen.open .forsen-left {
  transform: translateX(-110%);
}

.forsen.open .forsen-right {
  transform: translateX(110%);
}

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 2.5s linear;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
  align-items: center;
}

.login-form input {
  border: 1px solid #ffffff;
  background-color: #000000;
  padding: 10px;
  font-size: 16px;
}

.login-form input::placeholder {
  color: #585858;
  font-style: italic;
  font-size: 14px;
}

.login-form input:focus,
.login-form button:focus {
  border-color: #017973;
  outline: 2px solid #017973;
}

.login-form button {
  background-color: #000000;
  border-color: #ffffff;
  border-radius: 0px;
  font-size: 16px;
  width: 100%;
  height: 40px;
  overflow: hidden;
}

.login-form.visible {
  opacity: 1;
}
